
// home default

.news-page {
  background: #fff;

  section.top-banner {
    padding: 20px 0;
    margin-bottom: 40px;
    background: orange;
    h1 {
      color: #333333;
      font-size: 30px;
      font-weight: 700;
    }
  }

  section.news-section {
    .post {
      margin-bottom: 60px;
      .image {
        margin-bottom: 10px;
        overflow: hidden;
        img {
          transition: all 0.2s ease-out;
        }
      }
      h2 {
        text-transform: uppercase;
        margin: 0 0 10px;
        font-size: 24px;
        letter-spacing: 0.08em;
        a {
          color: #555555;
          &:hover {
            color: #f57c05;
          }
        }
      }

      .author-category {
        float: left;
        color: #999999;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 12px;
        letter-spacing: 0.08em;
        a {
          font-weight: 500;
        }
      }

      .date-comments {
        float: right;
        font-size: 12px;
        a {
          color: #999999;
          margin-right: 20px;
          &:hover {
            color: #f57c05;
          }
        }
      }

      .intro {
        text-align: left;
      }

      .read-more {
        text-align: right;
        a {
          color: #000;
          background-color: #fff;
          border-radius: 4px;
          padding: 6px 12px;
          display: inline-block;
          padding: 6px 12px;
          text-align: center;
          border: 1px solid #f57c05;
          &:hover {
            background: #f57c05;
            color: #ffffff;
            border-color: #f57c05;
          }
        }
      }
    }

    .panel{
      border: none;
      box-shadow: none;
      .nav {
        li {
          a {
            color: #333;
            font-size: 14px;
            &:hover {
              color: #f57c05;
            }
          }
        }
      }
    }


    .pager {
      margin: 20px 0;
      padding-top: 20px;
      border-top: solid 1px #eee;
      display: flex;
      justify-content: space-between;

      li {
        a {
          display: block;
          color: #999999;
          border: 1px solid #f57c05;
          border-radius: 2px;
          padding: 5px 14px;
        }
      }
    }
  }
}



